<div>
<center>
<input type="text" style="font-size:33px; height:33px; font-family:Arial; left:0; line-height:33px;padding:8px 8px 7px; top:0;width:400px" />
<input type="submit" value="Search" style="margin-left:50px; width:100px; height:45px" />
</center>
</div>