@model eNovel.ViewModels.IndexViewModel

<script type="text/javascript">
    $(function () {

        $('#searchbar').autocomplete({

            source: function (request, response) {
            $.ajax({
                url:'Home/GetData',
                datatype: "json",
                data:{term:request.term},
                success: function(data) {
                response($.map(data, function(item) {
                            return {
                                label: item,
                                value: item
                            };
                         }));
                       }
                    })
                 },
            minLength: 1,
            select: function (event, ui) {
                //alert(ui.item.label + " - " + this.value);                
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
            });
    });

</script>

<div>
<center>
<input type="text" id="searchbar"  />
<input type="submit" id="searchbutton" value="Search" />
</center>
</div>